service: sentiment-analysis-sqs-lambda
frameworkVersion: "3"

provider:
  name: aws
  runtime: python3.9
  region: ${self:custom.region}
  timeout: 60

plugins:
  - serverless-python-requirements

custom:
  region: eu-central-1
  feedbackInputBucketName: feedback-input-20251009
  feedbackExportBucketName: feedback-exports-20251009

functions:
  processFile:
    handler: handlers/process_file.handler
    timeout: 60
    role: !GetAtt ProcessFileRole.Arn
    environment:
      QUEUE_URL: !Ref FeedbackQueue
    events:
      - s3:
          bucket: ${self:custom.feedbackInputBucketName}
          event: s3:ObjectCreated:*
          rules:
            - suffix: .json

  processFeedback:
    handler: handlers/process_feedback.handler
    timeout: 120
    role: !GetAtt ProcessFeedbackRole.Arn
    environment:
      DYNAMODB_TABLE: !Ref FeedbackSentimentTable
    events:
      - sqs:
          arn: !GetAtt FeedbackQueue.Arn
          batchSize: 5

  exportFeedback:
    handler: handlers/export_feedback.handler
    timeout: 60
    role: !GetAtt ExportFeedbackRole.Arn
    environment:
      DYNAMODB_TABLE: !Ref FeedbackSentimentTable
      EXPORT_BUCKET: ${self:custom.feedbackExportBucketName}
    events:
      - schedule:
          rate: cron(0 * * * ? *)

resources:
  - ${file(resources/dynamodb.yml)}
  - ${file(resources/sqs.yml)}
  - ${file(resources/s3.yml)}
  - ${file(resources/iam-roles.yml)}

package:
  individually: true
  exclude:
    - "*.json"
    - "node_modules/**"
    - ".serverless/**"
    - ".git/**"
